/* page book */
.swipe {  
  overflow: hidden;  
  visibility: hidden;  
  position: relative;  
}  
.swipe-wrap {  
  overflow: hidden;  
  position: relative;  
}  
.swipe-wrap > figure {
  float: left;  
  width: 100%;  
  position: relative;  
}  
#slider {  
  max-width: 1280px;/* 设置最大的宽度 */  
  margin: 0px auto; /* 居中对齐 */
}  

figure {  
  margin: 0;/* 对齐，四周宽度都为0，在轮播的时候，以整张图片进行移动 */  
  text-align: center;
}
.face{margin:0 auto;}
.faceInner{float:left}
/* .faceInner:first-child{margin-left:5%} */
.face img{width:100%;}
/*fix body.margin*/
.bookmark.page-swipe{margin-bottom:47px}
.page-swipe nav #position {
  text-align: center;  
  list-style: none;  
  margin: 0;  
  padding: 0 0 0 10px;
  z-index: 99;
}  
.page-swipe nav #position li {
  display: inline-block;  
  width: 10px;  
  height: 10px;  
  border-radius: 10px;  
  background: #141414;  
  box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;  
  margin: 0 2px;  
  cursor: pointer  
}  
.page-swipe nav #position li.on {
  box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);  
  background-color: #1293dc;  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));  
  background-image: -webkit-linear-gradient(top,#1293dc,#0f6297);  
  background-image: -moz-linear-gradient(top,#1293dc,#0f6297);  
  background-image: -ms-linear-gradient(top,#1293dc,#0f6297);  
  background-image: -o-linear-gradient(top,#1293dc,#0f6297);  
  background-image: linear-gradient(top,#1293dc,#0f6297)  
}
nav{position:fixed;left:0;bottom:0;display:flex;width:100%;height:45px;}
svg{width:32px;height:32px;display:inline-block;}
svg[name="play"]{width:40px;height:40px;}
.hide{display:none!important}
.disabled{color:#999}
.nextBk{margin-right:10px;}
svg.goBack{position:fixed;left:2px;top:2px;z-index:101}
svg.nextBk{position:absolute;right:2px;top:2px;z-index:101}
svg.refresh{position:absolute;right:2px;top:2px;z-index:101;margin-right:10px}
#tags{margin-top:14px}
#audioList p{text-align:center;margin-top:26px}
#mark{position: fixed;z-index:101;
  right: 0;
  width: 30px;}
.mcontainer{position: absolute;top:0;z-index:100;}
.mbox{width:100%;height:100%;position:relative;}
.mtag{position: absolute;}
.border1{border:1px solid #ccc}
button#mode{position: fixed;right:2px;z-index: 101;font-size:10px;}
/* w3.css */
.w3-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
@media (max-width: 768px){
  .w3-modal-content {
    width: 500px;
}
}

@media (max-width: 600px){
  .w3-modal-content {
    margin: 50px 10px 10px 10px;
    width: auto!important;
}
}
.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}
.w3-container, .w3-container-16 {
  padding: 0.01em 16px;
}
.w3-progress-container {
  width: 100%;
  height: 20px;
  top:15px;
  position: relative;
  background-color: #f1f1f1;
  flex:1;
  margin:0 5px
}
.w3-progressbar {
  background-color: #757575;
  height: 100%;
  position: absolute;
  line-height: inherit;
  transition: width .6s;
  border-radius:5px;
}
.w3-blue, .w3-hover-blue:hover {
  color: #fff!important;
  background-color: #2196F3!important;
}
.w3-light-grey, .w3-hover-light-grey:hover {
  color: #000!important;
  background-color: #f1f1f1!important;
}
.w3-btn, .w3-btn-block {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.w3-btn, .w3-btn-floating, .w3-btn-floating-large, .w3-closenav, .w3-opennav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.w3-closebtn {
  text-decoration: none;
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: inherit;
}
.w3-border {
  border: 1px solid #ccc!important;
}
.w3-round, .w3-round-medium {
  border-radius: 4px!important;
}
.w3-round-xlarge {
  border-radius: 16px!important;
}
.w3-white, .w3-hover-white:hover {
  color: #000!important;
  background-color: #fff!important;
}
.w3-border-blue, .w3-hover-border-blue:hover {
  border-color: #2196F3!important;
}
